.container{
    max-height: 800px;
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.text{
    color: white;
    margin-bottom: 10px;
}
