.col{
    border: 1px solid black;
    font-size: 25px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    text-align: center;
    border-radius: 0;
    cursor: pointer;
    background-color: rgb(219, 213, 213);
}

.notClickable{
  cursor: default;
  caret-color: transparent;
}

.borderLeft{
  border-left: 4px solid black;
  
}

.borderBottom{
  border-bottom: 4px solid black;
}


@media screen and (max-width: 600px) {
    .col {
      width: 40px;
      height: 40px;
      font-size: 18px;
    }
  }

  @media screen and (max-width: 400px) {
    .col {
      width: 30px;
      height: 30px;
      font-size: 14px;
    } 
  }
  